@font-face {
    -fx-font-family: "PNU Bold";
    -fx-font-weight: bold;
    -fx-font-style: normal;
    font-display:swap;
    src : url('PNU-Bold.ttf') format('truetype');
}

@font-face {
    -fx-font-family: "PNU Light";
    -fx-font-weight: 300px;
    -fx-font-style: normal;
    font-display:swap;
    src : url('PNU-Light.ttf') format('truetype');
}

@font-face {
    -fx-font-family: "PNU Medium";
    -fx-font-weight: 600px;
    -fx-font-style: normal;
    font-display:swap;
    src : url('PNU-Medium.ttf') format('truetype');
}

@font-face {
    -fx-font-family: "PNU Regular";
    -fx-font-weight: normal;
    -fx-font-style: normal;
    font-display:swap;
    src : url('PNU-Regular.ttf') format('truetype');
}

